{% extends 'admin_user/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="main container">
		<div class="text-center border-dark border-bottom">
			<h1>{{ questions.first.quiz }}</h1>
		</div>
    <form action='/quiz_submit/' method='POST'class="m-2">
        {% csrf_token %}
        <ol>
            {% for i in questions %}
                <li class="h3">{{i.text}}</li>
                <div class="row p-2">
		            <div class="col-6 h4">
                        <input type='radio' required="true" value='{{i.option1}}' name='{{i.id}}'/>  {{i.option1}}
		            </div>
                    <div class="col-6 h4">
                        <input type='radio' value='{{i.option2}}' name='{{i.id}}'/>  {{i.option2}}
                    </div>
                </div>   
                <div class="row p-2">
		            <div class="col-6 h4"> 
                        <input type='radio' value='{{i.option3}}' name='{{i.id}}'/>  {{i.option3}}
                    </div>
                    <div class="col-6 h4">
                        <input type='radio' value='{{i.option4}}' name='{{i.id}}'/>  {{i.option4}}
                    </div>
                </div>  
            {% endfor %}
        </ol>
        <input type="hidden" name="quiz" value="{{questions.first.quiz.id}}">
        <input type="submit" value="submit" />
    </form>
</div> 
{% endblock %}

{% block script %}
{% endblock script %}