{% extends 'admin_user/base.html' %}
{% load static %}
{% block title %}quiz question{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="main container"> 
	<div class="row border-bottom">
		<div class="col-12">
			<h2 class="text-center">Quiz Question-List</h2>
		</div>
	</div>
      <div class="table-responsive row justify-content-center">     
   		<table id="mytable" class="table table-bordered table-hover table-responsive table-striped d-block d-md-table">  
	        <thead class="text-center">         
	             <th>Question id</th> 
	             <th>Text</th>
				 <th>Options</th>
	             <th>Answer</th>
				 <th>Edit</th>
	             <th>Delete</th>
	        </thead>
  	{% for i in questions %}
    
	    	<tbody class="table-striped ">
			  <tr>
			    <td>{{ i.id }}</td>
			    <td>{{ i.text }}</td>
			    <td>
			    	<li>{{ i.option1 }}</li>
					<li>{{ i.option2 }}</li>
					<li>{{ i.option3 }}</li>
					<li>{{ i.option4 }}</li>
			    </td>
				<td>{{ i.answer }}</td>
				<td>
			    	<a href='/{{ i.id }}/question_update'>
			    	<span class="glyphicon glyphicon-edit"></span>
			    	</a>
			    </td>
			    <td>
					<form id="my_form1{{i.id}}" method="post" action='{{i.id}}/question_delete'>
    					{% csrf_token %}
					</form>
			    	<a onclick="document.getElementById('my_form1{{i.id}}').submit();">
			    	<span class="glyphicon glyphicon-trash text-danger"></span>
			    	</a>
			    </td>
	          </tr> 
	    	</tbody>
    {% endfor %} 
   		</table>
	        <input type="hidden" id="refresh" value="no">
		</div>

    <div>
    
{% if user.is_authenticated %}

<div class="container jumbotron main" >
<h2 class="p-3 border-bottom border-secondary">Add new question in quiz here...</h2>
	<form method="POST" class="form1">
    {% csrf_token %}
    {{ form.media }}
	<div class="row p-2">
      <div class="col-12">
        {{ form.text|as_crispy_field }}
      </div>	
    </div>
	<div class="border border-dark p-5 border-right-0 border-left-0">
    <div class="row ">
      <div class="col-6">
        {{ form.option1|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.option2|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form.option3|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.option4|as_crispy_field }}
      </div>
    </div>
	</div>
    <div class="row p-3">
      <div class="col-12">
        {{ form.answer|as_crispy_field }}
      </div>	
    </div>
    <div class="p-3">
   	 <button type="submit" class="btn btn-success">Save!</button>
    </div>
  </form>
</div>
{% else %}

<h2>Please login first!!!!</h2>

{% endif %}
</div>

</div> 
{% endblock %}

{% block script %}
{% endblock script %}